@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
  
}

html *{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat;
}

body {
  height: 100vh;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  
}