html *{
    box-sizing: border-box;
}
html{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.App{
    height: auto;
    padding-top: 20px;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.css-1t5pi0f{
    padding: .5rem; 
}

.css-1ehfuda-MuiContainer-root{
    padding: 16px;
}


@media (max-width: 600px) {
    .css-1t5pi0f{
       padding: 10px; 
    }
    .css-1ehfuda-MuiContainer-root{
        padding: 8px;
        width: 80%;
    }
}




