@import "globals.scss";

@mixin textInput{
    background-size:10px;
    position: relative;
    margin-top: 2rem;
    border-radius: .2rem;
    height: 2.3rem;
    
    label{
        position: absolute;
        top: .3rem;
        left: .4rem;
        font-weight: 200;
        opacity: .85;
        pointer-events: none;
        transition: .2s;
    }
    input{
        width: 100%;
        font-family: 'Inter';
        font-weight: 200;
        position: absolute;
        border: none;
        background-color: #fff0;
        outline: none;
        padding: .4rem;
        bottom: 0rem;
        z-index: 10;
        &.filled ~{
            label{
                top:-1.4rem;
                left: 0;
                opacity: 1;
                letter-spacing: 1px;
            }
            span{
                font-weight: 400;
                height: 2rem;
                color:var(--melonOrange);
                padding-top: .25rem;
            }
        }
        &:focus ~{
            label{
                top:-1.4rem;
                left: 0;
                opacity: 1;
                letter-spacing: 1px;
            }
            span{
                height: 2rem;
                &.obligatory{
                    font-weight: 400;
                    color:var(--melonOrange);
                    padding-top: .25rem;
                    
                }
            }
        }
    }
    
    span{
        position: absolute;
        font-weight: 200;
        width: 100%;
        height: 3px;
        bottom: 0;
        background-color: var(--darkLava);
        border-radius: .2rem;
        transition: .2s;
        z-index: 9;
        &.obligatory{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            right: 0;
            font-size: 1.5rem;
            width: 1.8rem;
            background-color: var(--color);
            text-align: center;
            color: var(--color);
        }
    }
}

@mixin radioGroup{
    
    margin-top: 1.4rem;
    &__title{
        font-weight: 200;
        padding-bottom: 0;
    }
    fieldset{
        border: none;
        padding: .3rem 0;
        
    }
    &__inputs{
        display: flex;
        border-radius: .3rem;                
        overflow: hidden;
        border: 1px solid #fff5;
        
        div{
            display: flex;
            width: 100%;
            input{                    
                position: absolute;
                left: -100vw;
                &+ label{
                    cursor: pointer;
                    text-align: center;
                    font-weight: 200;
                    background-color: var(--darkLava);
                    width: 100%;
                    padding: .6rem;
                    opacity: .8;
                    transition: .3s;
                    &#Feminine{
                        border-left: 1px solid #fff5;
                        border-right: 1px solid #fff5;
                    }
                    &:hover{
                        opacity: 1;
                    }
                }
                &:checked + label{
                    background-color:var(--melonOrange);
                    opacity: 1;
                }
            }   
        }
        
    }
}

.Form{
    background-color: #0003;
    border: 1px solid #fff5;
    backdrop-filter: blur(6px);
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: .3rem;
    form{
        width: 100%;
    }
    
    &__title{
        color:var(--melonOrange);
        
        letter-spacing: 6px;
        text-align: center;
        position: relative;
        h1{
            font-weight: 200;
            text-shadow: 1px 1px 1px #fff7;
        }
        span{
            background-color: var(--melonOrange);
            width: 100%;
            height:2px;
            border-radius: .1rem;
            position: absolute;
            left: 0;
        }
    }
    
    &__TextInput{
        @include textInput;
    }
    
    &__NumberInput{
        @include textInput;
    }
    &__RadioBox{
        @include radioGroup;
    }

    &__OptionsInput{
        margin-top: 1.2rem;
        display: flex;
        flex-direction: column;
        label{
            font-weight: 200;
        }
        select{
            margin-top: .2rem;
            background-color: var(--darkLava);
            cursor: pointer;
            padding: .6rem;
            font-weight: 200;
            font-size: 1rem;
            border-radius: .3rem;
            option{
                font-weight: 200;
                margin-top: .4rem;
            }

        }
    }

    &__DocumentArea{
        @include radioGroup;
        &__TextInput{
            @include textInput;
            margin-top: 0;
        }
    }
    &__submitBtn{
        width: 100%;
        color: var(--color);
        background-color: var(--darkLava);
        margin-top: 2rem;
        font-size: 1.2rem;
        padding: .6rem;
        border-radius: .3rem;
        letter-spacing: 2px;
        border: 1px solid #fff5;
        cursor: pointer;
        transition: .3s;
        &:hover{
            letter-spacing: 4px;
            background-color: var(--melonOrange);

        }
    }
}