.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.slideHello{
  margin: auto;
  width: 350px;
  height: 40px;
  padding: 16px;
  overflow: hidden;
  position: relative;
  border: 4px solid #3d8;
  box-shadow: 0 0 6px #3d8,
  inset 0 0 6px #3d8;
  margin-top: 10px;
  border-radius: 16px;
  animation: shineGreen 1s linear infinite;
}

.slideHello .H3{
  width: 100%;
  position: absolute;
  top: 0px;
  left: -181px;
  animation: slide 4s linear infinite;

}

.slideHello h3{
  position: absolute;
}

@keyframes shineGreen{
  50%{
    box-shadow: 0 0 15px #3d8,
    inset 0 0 15px #3d8;
  }
}

@keyframes slide{
  0%{
    transform: skewX(0);
  }

  24%{
    left:80px;
    transform: skewX(45deg)
  }

  30%{
    left:0px;
    transform: skewX(-5deg)
  }
  35%{
    left:10px;
    transform: skewX(0);
  }
  70%{
    left:100px;
    transform: skewX(0);
  }
  80%{
    left:160px;
    transform: skewX(0);
  }

  100%{
    left: 382px;
  }
}

