.pokemonImg{
    position: absolute;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
}

:root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#fafad290, #dadab2dd);
}
#root{
    background: linear-gradient(#fafad290, #dadab2dd);
    backdrop-filter: opacity(100%);
}