@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
#root{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
}

.App *{
  font-family: Josefin Sans;
}

.App {
  width: 95%;
  max-width: 300px;
  background-color: #6b6b6b;
  padding: 2rem;
  border-radius: .5rem;
}

@media (max-width: 320px) {
  .App{
    padding: 1.5rem;
    zoom: .7;
  }
}