.hoverHello{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    width: 200px;
    height: 20px;
    overflow: hidden;
    transition: 1s all;
    cursor: pointer;
}

span#first::after{
    content: "passa o mouse aqui";
    top: 0;
    left: 0;
}

span#second{
    display: none;
}

.hoverHello:hover #first{
    display: none;
}


.hoverHello:hover #second{
    display: block;
}


