:root {
  --color:#e8e8e8;
  --color-gray:#888;
  --bg-color:#2d2d2d;
  --bg-color-hover:#323232;
  --neoSdw1:#aaaaaa2f;
  --neoSdw2:#00000099;
  --placeholder: #444;
  --invSdw1:#FF8870;
  --invSdw2:#322020;
  --valid-color: #40e0d0;
  --swt-text: "to light";
}

.light-mode:root {
  --valid-color: #008f77;
  --placeholder: #cecece;
  --bg-color:#e8e8e8;
  --bg-color-hover:#e4e4e4;
  --neoSdw1:#ffffffdd;
  --neoSdw2:#66666677;
  --color:#3a3a3a;
  --invSdw1:#f77;
  --invSdw2:#a87575;
  --swt-text: "to dark";
}

@mixin graficColunm {
  height: 60px;
  padding: 0;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  p{
    display: block;
    margin: 0;
  }
  
}

@keyframes balldec{
  28%{
    left: 30px;
  }
  
  50%{
    bottom: 120px;
  }
}

@keyframes ball2dec{
  28%{
    right: 30px;
  }
  
  50%{
    top: 120px;
  }
}





@keyframes rotation{
  100% {rotate: 360deg;}
}
html * {
  color: var(--color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}
body{
  background-color: var(--bg-color);
}
.main{
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
  position: relative;
  @media (max-width: 1024px){
    flex-direction: column;
    align-items:center;
    gap: 35px;
    padding: 10px;
  }
  
  .placar{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    background-color: #444;
    gap: 20px;
    .btn-secondary{
      width: 100%;
    }
    .valores{
      margin: 10px 0;
      display: flex;
      justify-content: space-around;
      .coca,.pepsi{
        text-align: center;
      }
      
    }
  }
  
  section#form{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    .form-decoration{
      width: 48px;
      height: 48px;
      border-radius: 50%;
      bottom: -30px;
      left: -30px;
      background-color: var(--invSdw1);
      position: absolute;
      animation: balldec 6s infinite ease-in-out;

      &:nth-child(1){
        animation-delay: 1s;
        left: -30px;
        background-color: var(--valid-color);
        bottom: -30px;
      }
    }
    
  }
  
  h1{
    margin-bottom: 30px;
    font-size: 1.62em;
    text-align: center;
  }
  .load{
    width: 80px;
    height: 80px;
    top: calc(50% - 80px);
    border: 15px solid #fff1;
    border-bottom-color: #9af8ef;
    border-radius: 40px;
    animation: rotation .65s ease infinite;
    display: none;
  }
  
  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: #2d2d2da1;
    border-radius: 15px;
    border: 2px solid #fff5;
    backdrop-filter: blur(4px);
    @media (max-width:1024px){
      padding: 15px;
    }
    .form-grp{
      margin-top:10px;
      h6{
        margin-bottom: 10px;
      }
      option{
        color: var(--bg-color);
      }
    }
    button{
      margin: 20px 0;
    }
  }
  
  section#tabela{
    max-width: 100%;
    overflow: hidden;
    
    h2{
      margin: 9px 0;
      margin-left: 5px;
    }
    p{
      display: none;
      margin-left: 5px;
    }
    table{
      text-align: center;
      
      tr{
        th{
          text-overflow: ellipsis;
        }
      }
    }
    
    @media (max-width: 1024px){
      p{
        display: block;
      }
    }
  }
  
}