.textInput{
    margin-top: 1.2rem;
    opacity: .9;
    position: relative;
    &:hover{
        opacity: 1;
    }

    &__warn{
        position: absolute;
        top:2.7rem;
        width: 100%;
        p{
           color: var(--color);
           font-weight: 200;
           font-size:.7rem;
           text-align: right;
        }
        
    }

    *{
        font-family: 'Gontserrat', sans-serif;
    }
    
    label{
        color: var(--color);
        position: absolute;
        left: 0;
        top: .5rem;
        font-size: .85rem;
        pointer-events: none;
        opacity: .85;
        transition: .2s;
        font-weight: 300;
    }
    &__icon{
        svg{
            margin-bottom:-.2rem; 
        }
        font-size: 1rem;
        margin-right: .2rem;
    }
    input{
        border: 2px solid transparent;
        width: 100%;
        color: var(--color);
        border-bottom: 2px solid var(--mdGreen);
        padding: .5rem 1rem;
        font-size: 1rem;
        padding-left: 2px;
        border-radius: .2rem;
        background-color: var(--darkGreen);
        outline: none;
        font-family: 'Gontserrat', sans-serif;
        font-weight: 300;
        transition: .2s;
        margin-bottom: 1rem;
        
        &:hover{
            border-bottom: 2px solid var(--lgtGreen);
        }
        &[type="password"]{
            letter-spacing: 3px;
            font-weight: 500;
            font-size: 1rem;
            -webkit-text-stroke: 1px;
        }
        &:focus{
            border-bottom: 2px solid var(--lgtGreen);
            ~ label{
                top:-1.2rem;
                opacity: 1;
            }
        }
        &.filled{
            border-bottom: 2px solid var(--lgtGreen);
            ~ label{
                top:-1.2rem;
                opacity: 1;
            }
        }
        &.invalid{
            border-bottom: 2px solid #f77;
        }
        
    }
    
    &__viewPassword{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 1.7rem;
        aspect-ratio: 1;
        position: absolute;
        opacity: .85;
        color: var(--color);
        right:.5rem;
        top:.4rem;
        font-size: 1.4rem;
        cursor: pointer;
        &:hover{
            background: #fff2;
            opacity: 1;
        }
    }
    
    &__passwordTip{
        b{
            font-weight: 500;
        }
        margin-top: .5rem;
        text-align: justify;
        color: var(--color);
        font-weight: 300;
        font-size: .75rem;
    }
}
